@import url(https://fonts.googleapis.com/css2?family=PT+Mono&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
.nav__image {
  height: 50px;
  margin-left: 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT MONO", monospace;
  font-weight: 400;
  font-style: normal;
}

.nav__element {
  color: rgba(4, 4, 4, 0.334) green, blue, alpha;
}

.nav__button--white {
  font-family: "PT MONO", monospace;
  font-size: 16px;
  color: rgba(4, 4, 4, 0.334);
}

h1 {
  font-size: 80px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

.section__p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  width: 30%;
  margin-top: 20px;
}

.section__tittle {
  font-size: 30px;
  width: 50%;
  text-align: left;
}

.central__text {
  background-color: white; /**/
  color: black;
  padding: 20px;
}

h2 {
  font-family: "PT MONO", monospace;
  font-size: 30px;
  font-weight: 400;
  color: black;
  text-align: left;
}

.main__box__text {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

.nav__buttons {
  margin-left: 800px;
  margin-top: 15px;
}

.nav__button--green {
  background-color: #04aa6d;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-family: "PT MONO", monospace;
}

.nav__button--white {
  border-color: rgba(4, 4, 4, 0.334);
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 1px;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.nav__content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  font-family: "PT MONO", monospace;
  font-size: 16px;
  display: block;
  color: #414a4c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav__element {
  margin-top: 15px;
  margin-left: 30px;
}

.main__container {
  width: 100%;
}

.main__tittle {
  position: absolute;
  display: inline-block;
  text-align: left;
  margin-top: 50px;
  margin-left: 60px;
  width: 20%;
}

.section__content {
  margin: 20px;
  padding: 20px;
  width: 60%;
  left: 80px;
}

.section__image--coffee {
  width: 34%;
  height: 250px;
  position: absolute;
  margin-left: 900px;
  right: 0;
  z-index: 1;
  bottom: -164px;
}

.section__image--grains {
  width: 20%;
  height: 150px;
  margin-left: 430px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  right: 50px;
  z-index: 5;
}

.main__image {
  position: relative;
}

.main__content {
  position: absolute;
  align-items: center;
  margin-right: 180px;
  width: 50%;
  bottom: 4px;
  right: 16px;
  background-color: white;
  color: black;
}

.main__box {
  float: left;
  width: 20%;
  padding: 13px;
}

.main__box-container {
  background-color: #eff234; /**/
  width: 126px;
  height: 126px;
  margin-left: 425px;
  position: absolute;
  z-index: 1;
}

.main__box--coral {
  margin: -15px 0px 0px -15px;
  background: #fa824c;
  width: 126px;
  height: 126px;
}

.main__box__arrow {
  position: absolute;
  color: white;
  margin-top: 25px;
  margin-left: 25px;
  width: 40%;
}

.section__box--blue {
  position: absolute;
  background-color: #3c91e6;
  height: 205px;
  width: 31%;
  margin-left: 396px;
  bottom: -119px;
  left: 83px;
}

.section__image {
  position: absolute;
  left: 90px;
  width: 28%;
  z-index: 1;
  margin-left: 350px;
  top: 560px;
}/*# sourceMappingURL=main.css.map */